<div>
    <p>Nombre del empleado: {{nombre}}</p>
    <p>Apellido del empleado: {{apellido}}</p>
    <p>Edad del empleado: {{edad >= 18 ? 'Mayor de edad' : 'Menor de edad'}}</p>
    <p>Empresa del empleado: {{empresa.value}}</p>
</div>
<div>
    Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro" placeholder="nombre de la empresa"/>
    <br/>
    <br/>
    Registrado : <input type="checkbox" id = "registro" [checked]="usuRegistrado"/>

    {{getRegistroUsuario()}}
</div>